---
import Logo from "../Logo/Logo";
import Footer from "../Footer/Footer.astro";
---
    <section class="flex flex-col gap-10 bg-[#1C1C1C] p-10">
      <div class="flex flex-row justify-center gap-2 items-center">
        <Logo />
        <p class="text-2xl text-[#9E30A9]">
          D<span class="text-[#4090b5]">D</span>B
        </p>
      </div>
      <aside class="flex flex-row justify-center max-[760px]:hidden">
        <ul class="flex justify-start gap-10 menu text-white">
          <li>
            <a href="" class="efecto-azul">
              Inicio
            </a>
          </li>
          <li>
            <a href="" class="efecto-azul">
              Productos
            </a>
          </li>
          <li>
            <a href="" class="efecto-azul">
              Nosotros
            </a>
          </li>
          <li>
            <a href="" class="efecto-azul">
              Seguridad
            </a>
          </li>
          <li>
            <a href="" class="efecto-morado">
              Regístrate
            </a>
          </li>
          <li>
            <a href="" class="efecto-morado">
              Login
            </a>
          </li>
        </ul>
      </aside>
      <div class="w-full h-[2px] bg-[#262626] "></div>
      <div class="flex flex-row items-center justify-center gap-5 text-white max-[760px]:flex-col">
            <div class="flex flex-row items-center gap-2">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.5 9.1691V17.75C1.5 19.4069 2.84315 20.75 4.5 20.75H19.5C21.1569 20.75 22.5 19.4069 22.5 17.75V9.1691L13.5723 14.6631C12.6081 15.2564 11.3919 15.2564 10.4277 14.6631L1.5 9.1691Z" fill="#4090B5"/>
<path d="M22.5 7.40783V7.25C22.5 5.59315 21.1569 4.25 19.5 4.25H4.5C2.84315 4.25 1.5 5.59315 1.5 7.25V7.40783L11.2139 13.3856C11.696 13.6823 12.304 13.6823 12.7861 13.3856L22.5 7.40783Z" fill="#4090B5"/>
            </svg>
                <p class="text-xl">hello@ddb.com</p>
            </div>
            <div class="flex flex-row items-center gap-2">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 5C1.5 3.34315 2.84315 2 4.5 2H5.87163C6.732 2 7.48197 2.58556 7.69064 3.42025L8.79644 7.84343C8.97941 8.5753 8.70594 9.34555 8.10242 9.79818L6.8088 10.7684C6.67447 10.8691 6.64527 11.0167 6.683 11.1197C7.81851 14.2195 10.2805 16.6815 13.3803 17.817C13.4833 17.8547 13.6309 17.8255 13.7316 17.6912L14.7018 16.3976C15.1545 15.7941 15.9247 15.5206 16.6566 15.7036L21.0798 16.8094C21.9144 17.018 22.5 17.768 22.5 18.6284V20C22.5 21.6569 21.1569 23 19.5 23H17.25C8.55151 23 1.5 15.9485 1.5 7.25V5Z" fill="#4090B5"/>
            </svg>
                <p class="text-xl">+34 91 895 2548</p>
            </div>
            <div class="flex flex-row items-center gap-2">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M11.5397 22.851C11.57 22.8685 11.5937 22.8821 11.6105 22.8915L11.6384 22.9071C11.8613 23.0294 12.1378 23.0285 12.3608 22.9075L12.3895 22.8915C12.4063 22.8821 12.43 22.8685 12.4603 22.851C12.5207 22.816 12.607 22.765 12.7155 22.6982C12.9325 22.5646 13.2388 22.3676 13.6046 22.1091C14.3351 21.5931 15.3097 20.8274 16.2865 19.8273C18.2307 17.8368 20.25 14.8462 20.25 11C20.25 6.44365 16.5563 2.75 12 2.75C7.44365 2.75 3.75 6.44365 3.75 11C3.75 14.8462 5.76932 17.8368 7.71346 19.8273C8.69025 20.8274 9.66491 21.5931 10.3954 22.1091C10.7612 22.3676 11.0675 22.5646 11.2845 22.6982C11.393 22.765 11.4793 22.816 11.5397 22.851ZM12 14C13.6569 14 15 12.6569 15 11C15 9.34315 13.6569 8 12 8C10.3431 8 9 9.34315 9 11C9 12.6569 10.3431 14 12 14Z" fill="#4090B5"/>
            </svg>
                <p class="text-xl">Nerva, Huelva. España</p>
            </div>
      </div>
      <Footer/>
    </section>
