---
import "./Adaptamos.css";
---
    <section class="m-10 text-white">
      <div class="flex flex-col gap-5 mb-10">
        <h2 class="text-5xl">
          Nos adaptamos<span class="text-[#4090B5]"> a ti</span>
        </h2>
        <p class="text-xl text-[#B3B3B3]">
          En Deckard Digital Bank, atendemos a las diversas necesidades tanto de
          individuos como de empresas, ofreciendo una amplia gama de soluciones
          financieras.
        </p>
      </div>

      <div class="flex flex-row justify-center gap-10 items-start  max-[1270px]:flex-col max-[1270px]:items-center">
        <div class="flex flex-row  gap-5 bg-[#1C1C1C] p-10 rounded-xl max-[760px]:flex-col ">
          {/*<img src="toolsimg/AbstractSection1.png" class="absolute top-0 left-0    " alt="Adorno Abstacto arriba-izquierda"/>*/}

          <div class="flex flex-col bg-[#1A1A1A] gap-5 ">
            <div class="flex flex-col items-center justify-center p-5 min-w-[314px] rounded-lg border border-[#262626] gap-2">
              <svg
                width="78"
                height="79"
                viewBox="0 0 78 79"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  y="0.5"
                  width="78"
                  height="78"
                  rx="39"
                  fill="url(#paint0_linear_0_1942)"
                  fill-opacity="0.05"
                />
                <rect
                  x="12"
                  y="12.5"
                  width="54"
                  height="54"
                  rx="27"
                  fill="url(#paint1_linear_0_1942)"
                  fill-opacity="0.05"
                />
                <g clip-path="url(#clip0_0_1942)">
                  <path
                    d="M41.692 31.3782C41.725 31.4166 41.7305 31.4276 41.736 31.4276C42.2804 31.5046 42.5333 31.9115 42.8248 32.3184C43.1602 32.7804 43.5616 33.2038 43.9905 33.5887C45.1178 34.606 45.8106 35.8377 46.0416 37.3389C46.443 39.9673 44.9363 42.6672 42.4619 43.7175C38.7062 45.3122 34.5106 42.8872 34.0762 38.8291C33.8452 36.668 34.637 34.8809 36.2867 33.4732C36.8201 33.0168 37.2655 32.4889 37.6339 31.8895C37.6999 31.7796 37.8209 31.6916 37.9363 31.6366C38.1233 31.5486 38.3322 31.4991 38.5687 31.4166C38.4917 31.3232 38.4367 31.2572 38.3762 31.1912C38.0078 30.8118 37.6394 30.4214 37.2655 30.0529C37.1335 29.921 37.073 29.7835 37.0785 29.5965C37.0895 28.8157 37.084 28.0404 37.084 27.2595C37.084 26.9461 37.4689 26.4457 37.7824 26.3852C38.1398 26.3137 38.5082 26.2752 38.8656 26.2038C38.9701 26.1818 39.0856 26.1158 39.1461 26.0333C39.6685 25.3294 40.5868 25.3239 41.1037 26.0223C41.1751 26.1158 41.3126 26.1873 41.4281 26.2148C41.758 26.2862 42.0934 26.3247 42.4289 26.3852C42.7643 26.4512 43.1217 26.8856 43.1217 27.2265C43.1217 28.0129 43.1162 28.8047 43.1272 29.591C43.1327 29.7945 43.0667 29.932 42.9293 30.0749C42.5113 30.4983 42.1099 30.9327 41.692 31.3782ZM39.3825 34.441C39.366 34.507 39.3495 34.5455 39.355 34.5785C39.4265 34.9469 39.256 35.1064 38.9151 35.2438C38.2663 35.5133 37.9748 36.0576 37.9913 36.756C38.0078 37.4488 38.3817 37.8778 39.0086 38.1032C39.2835 38.2022 39.5695 38.2737 39.8444 38.3672C40.0974 38.4496 40.3503 38.5321 40.5923 38.6311C40.7957 38.7136 40.9112 38.873 40.8892 39.104C40.8672 39.3404 40.7187 39.4779 40.5098 39.5164C40.2953 39.5604 40.0644 39.5989 39.8609 39.5494C39.465 39.4559 39.0856 39.2965 38.6677 39.1535C38.4807 39.4009 38.2663 39.6814 38.0078 40.0278C38.3982 40.1983 38.7337 40.3742 39.0911 40.4952C39.2945 40.5612 39.377 40.6492 39.3495 40.8581C39.333 41.0066 39.344 41.1606 39.344 41.331C39.6575 41.331 39.9214 41.331 40.1853 41.331C40.5648 41.331 40.5813 41.331 40.5593 40.9406C40.5483 40.6987 40.6033 40.5667 40.8672 40.5337C41.0047 40.5172 41.1421 40.4402 41.2686 40.3687C41.8515 40.0498 42.0934 39.5384 42.0824 38.8895C42.0714 38.2737 41.7635 37.8503 41.2136 37.6028C40.9662 37.4928 40.7022 37.4104 40.4383 37.3224C40.1084 37.2124 39.7784 37.1134 39.4485 36.9924C39.245 36.9155 39.1626 36.7505 39.1791 36.5305C39.1956 36.3216 39.322 36.1786 39.5145 36.1456C39.7454 36.1071 39.9929 36.0851 40.2183 36.1236C40.4933 36.1731 40.7517 36.2996 41.0432 36.3986C41.2246 36.1181 41.4116 35.8212 41.6315 35.4748C41.3786 35.3593 41.1641 35.2163 40.9332 35.1778C40.6088 35.1228 40.5098 34.9744 40.5483 34.6664C40.5593 34.595 40.4603 34.452 40.3998 34.4465C40.0699 34.43 39.7234 34.441 39.3825 34.441Z"
                    fill="#4090B5"
                  />
                  <path
                    d="M39.6795 53.489C38.5082 53.489 37.3315 53.456 36.1602 53.5C35.3739 53.5275 34.703 53.291 34.0707 52.8731C33.1744 52.2738 32.355 51.5919 31.6402 50.7781C30.5844 49.5738 29.5176 48.3696 28.4619 47.1654C27.5985 46.1756 27.989 44.7129 29.2207 44.3115C29.3637 44.262 29.5286 44.2455 29.6771 44.2455C30.6559 44.24 31.6402 44.2345 32.619 44.251C32.7564 44.251 32.9214 44.3225 33.0204 44.416C33.6912 45.0648 34.3511 45.7302 35.0055 46.3955C35.1374 46.5275 35.2584 46.555 35.4454 46.5275C35.8413 46.467 36.2482 46.412 36.6496 46.412C38.5027 46.401 40.3503 46.4065 42.2034 46.4065C42.8358 46.4065 43.3032 46.731 43.4681 47.2698C43.7211 48.0837 43.1272 48.848 42.2199 48.8535C40.9937 48.859 39.7619 48.8535 38.5357 48.8535C38.3158 48.8535 38.0958 48.848 37.8758 48.8535C37.4799 48.8645 37.2215 49.1174 37.216 49.4749C37.216 49.8378 37.4744 50.1127 37.8648 50.1127C39.8169 50.1182 41.769 50.1182 43.7211 50.1127C44.117 50.1127 44.4029 49.8928 44.6779 49.6288C45.9536 48.4026 47.2293 47.1764 48.5106 45.9556C49.033 45.4552 49.7258 45.4332 50.2207 45.8786C50.7541 46.3625 50.7651 47.1434 50.2262 47.6878C49.6598 48.2651 49.0824 48.8095 48.5106 49.3649C47.2458 50.5911 45.9811 51.8119 44.7219 53.0381C44.4139 53.335 44.073 53.489 43.6386 53.489C42.3189 53.4835 40.9992 53.489 39.6795 53.489Z"
                    fill="#4090B5"
                  />
                  <path
                    d="M33.1359 30.251C33.6693 30.7844 34.2027 31.3177 34.725 31.8401C34.4006 32.1646 34.0597 32.5055 33.7188 32.8409C33.2129 32.3185 32.6795 31.7687 32.1681 31.2408C32.4705 30.9328 32.8115 30.5809 33.1359 30.251Z"
                    fill="#4090B5"
                  />
                  <path
                    d="M47.0204 30.251C47.3448 30.5754 47.6803 30.9218 47.9937 31.2353C47.4713 31.7577 46.9269 32.302 46.399 32.8244C46.0801 32.5055 45.7447 32.1591 45.4092 31.8236C45.9316 31.3122 46.4705 30.7844 47.0204 30.251Z"
                    fill="#4090B5"
                  />
                  <path
                    d="M48.2851 38.9171C48.2851 38.4497 48.2796 38.0208 48.2906 37.5919C48.2906 37.5369 48.3951 37.4379 48.4501 37.4379C49.1209 37.4269 49.7863 37.4269 50.4572 37.4379C50.5122 37.4379 50.6166 37.5204 50.6166 37.5644C50.6276 38.0098 50.6221 38.4552 50.6221 38.9171C49.8358 38.9171 49.077 38.9171 48.2851 38.9171Z"
                    fill="#4090B5"
                  />
                  <path
                    d="M31.8547 38.9336C31.0958 38.9336 30.3865 38.9391 29.6716 38.9281C29.6166 38.9281 29.5287 38.8236 29.5232 38.7632C29.5122 38.3782 29.5067 37.9933 29.5232 37.6084C29.5232 37.5479 29.6331 37.4379 29.6936 37.4379C30.3535 37.4269 31.0133 37.4269 31.6732 37.4379C31.7337 37.4379 31.8437 37.5259 31.8437 37.5809C31.8602 38.0098 31.8547 38.4497 31.8547 38.9336Z"
                    fill="#4090B5"
                  />
                </g>
                <defs>
                  <linearGradient
                    id="paint0_linear_0_1942"
                    x1="39"
                    y1="0.5"
                    x2="39"
                    y2="78.5"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#4090B5" />
                    <stop offset="1" stop-color="#4090B5" stop-opacity="0" />
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_0_1942"
                    x1="39"
                    y1="12.5"
                    x2="39"
                    y2="66.5"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#4090B5" />
                    <stop offset="1" stop-color="#4090B5" stop-opacity="0" />
                  </linearGradient>
                  <clipPath id="clip0_0_1942">
                    <rect
                      width="22.6277"
                      height="28"
                      fill="white"
                      transform="translate(28 25.5)"
                    />
                  </clipPath>
                </defs>
              </svg>
              <p class="text-xl text-center max-w-[254px] ">
                Gestión de finanzas personales
              </p>
            </div>

            <div class="flex flex-col items-center justify-center p-5 min-w-[314px] rounded-lg border border-[#262626] gap-2">
              <svg
                width="78"
                height="79"
                viewBox="0 0 78 79"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  y="0.5"
                  width="78"
                  height="78"
                  rx="39"
                  fill="url(#paint0_linear_0_1966)"
                  fill-opacity="0.05"
                />
                <rect
                  x="12"
                  y="12.5"
                  width="54"
                  height="54"
                  rx="27"
                  fill="url(#paint1_linear_0_1966)"
                  fill-opacity="0.05"
                />
                <path
                  d="M38.4801 27.47C38.795 27.26 39.2052 27.26 39.5201 27.47L50.7701 34.97C51.2009 35.2572 51.3174 35.8392 51.0301 36.27C50.7429 36.7008 50.1609 36.8173 49.7301 36.53L39.0001 29.3767L28.2701 36.53C27.8393 36.8173 27.2573 36.7008 26.9701 36.27C26.6828 35.8392 26.7993 35.2572 27.2301 34.97L38.4801 27.47Z"
                  fill="#4090B5"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M49.3125 37.4156V49.8125H50.25C50.7678 49.8125 51.1875 50.2322 51.1875 50.75C51.1875 51.2678 50.7678 51.6875 50.25 51.6875H27.75C27.2322 51.6875 26.8125 51.2678 26.8125 50.75C26.8125 50.2322 27.2322 49.8125 27.75 49.8125H28.6875V37.4156C28.6875 36.954 29.0236 36.561 29.4797 36.4895C32.5822 36.0026 35.7619 35.75 39 35.75C42.2381 35.75 45.4178 36.0026 48.5203 36.4895C48.9764 36.561 49.3125 36.954 49.3125 37.4156ZM39.9375 40.4375C39.9375 39.9197 39.5178 39.5 39 39.5C38.4822 39.5 38.0625 39.9197 38.0625 40.4375V48.875C38.0625 49.3928 38.4822 49.8125 39 49.8125C39.5178 49.8125 39.9375 49.3928 39.9375 48.875V40.4375ZM43.6875 39.5C44.2053 39.5 44.625 39.9197 44.625 40.4375V48.875C44.625 49.3928 44.2053 49.8125 43.6875 49.8125C43.1697 49.8125 42.75 49.3928 42.75 48.875V40.4375C42.75 39.9197 43.1697 39.5 43.6875 39.5ZM35.25 40.4375C35.25 39.9197 34.8303 39.5 34.3125 39.5C33.7947 39.5 33.375 39.9197 33.375 40.4375V48.875C33.375 49.3928 33.7947 49.8125 34.3125 49.8125C34.8303 49.8125 35.25 49.3928 35.25 48.875V40.4375Z"
                  fill="#4090B5"
                />
                <path
                  d="M39 34.3438C39.7767 34.3438 40.4062 33.7142 40.4062 32.9375C40.4062 32.1608 39.7767 31.5312 39 31.5312C38.2233 31.5312 37.5938 32.1608 37.5938 32.9375C37.5938 33.7142 38.2233 34.3438 39 34.3438Z"
                  fill="#4090B5"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_0_1966"
                    x1="39"
                    y1="0.5"
                    x2="39"
                    y2="78.5"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#4090B5" />
                    <stop offset="1" stop-color="#4090B5" stop-opacity="0" />
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_0_1966"
                    x1="39"
                    y1="12.5"
                    x2="39"
                    y2="66.5"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#4090B5" />
                    <stop offset="1" stop-color="#4090B5" stop-opacity="0" />
                  </linearGradient>
                </defs>
              </svg>

              <p class="text-xl text-center max-w-[254px] ">
                Vivienda en propiedad y consultoría
              </p>
            </div>
          </div>

          <div class="flex flex-col bg-[#1A1A1A] gap-5 ">
            <div class="flex flex-col items-center justify-center p-5 min-w-[314px] rounded-lg border border-[#262626] gap-2">
              <svg
                width="78"
                height="79"
                viewBox="0 0 78 79"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  y="0.5"
                  width="78"
                  height="78"
                  rx="39"
                  fill="url(#paint0_linear_0_1955)"
                  fill-opacity="0.05"
                />
                <rect
                  x="12"
                  y="12.5"
                  width="54"
                  height="54"
                  rx="27"
                  fill="url(#paint1_linear_0_1955)"
                  fill-opacity="0.05"
                />
                <g clip-path="url(#clip0_0_1955)">
                  <path
                    d="M48.6576 38.5185C48.6576 39.2663 48.6677 40.0093 48.6526 40.7571C48.6426 41.1606 48.758 41.5148 48.9688 41.8494C49.5108 42.7251 50.2284 43.4582 50.9561 44.1815C51.2271 44.4521 51.5082 44.7079 51.7942 44.9588C51.9348 45.0818 52 45.2098 52 45.4016C51.99 46.2233 51.99 47.04 51.995 47.8617C52 48.5456 51.6989 49.0572 51.0716 49.3426C50.4292 49.6329 49.827 49.5099 49.3 49.0622C48.211 48.1274 47.127 47.1876 46.0429 46.2528C45.3052 45.6132 44.5725 44.9638 43.8197 44.3438C43.5537 44.1224 43.2375 43.9601 42.9314 43.7928C42.4797 43.5468 41.9929 43.4139 41.466 43.4336C41.0846 43.4484 40.6931 43.4533 40.3117 43.4238C39.7546 43.3795 39.3582 43.0007 39.2829 42.4791C39.2126 42.0216 39.4887 41.5296 39.9504 41.3524C40.126 41.2836 40.3217 41.254 40.5125 41.254C41.9578 41.2442 43.4032 41.2491 44.8535 41.2491C45.3955 41.2491 45.5913 41.0572 45.5913 40.521C45.5913 39.4385 45.5862 38.3561 45.5913 37.2737C45.5963 36.8604 45.4507 36.5357 45.1346 36.2553C43.3128 34.6513 41.5011 33.0376 39.6844 31.4238C39.1976 30.9908 39.1424 30.3512 39.5489 29.8838C39.9504 29.4164 40.6078 29.3721 41.1247 29.7657C43.4483 31.5369 45.7669 33.3082 48.1006 35.0695C48.487 35.3598 48.6677 35.7141 48.6626 36.1815C48.6526 36.9588 48.6576 37.7362 48.6576 38.5185Z"
                    fill="#4090B5"
                  />
                  <path
                    d="M25.005 46.7054C25.005 46.2626 25.01 45.8198 25 45.377C24.995 45.2048 25.0652 45.0917 25.1807 44.9736C25.9385 44.211 26.6863 43.4385 27.429 42.6612C27.5846 42.4988 27.7 42.3069 27.8355 42.1298C28.1918 41.6526 28.3574 41.131 28.3424 40.5209C28.3123 39.1138 28.3474 37.7018 28.3273 36.2897C28.3173 35.7337 28.518 35.3401 28.9747 34.9957C31.2933 33.2639 33.5868 31.5025 35.8903 29.746C36.3721 29.377 37.0346 29.4361 37.426 29.8789C37.8275 30.3315 37.7924 30.981 37.3257 31.4041C36.618 32.0437 35.9004 32.6685 35.1877 33.3032C34.0586 34.302 32.9294 35.3057 31.8002 36.3045C31.5342 36.5406 31.4037 36.826 31.4037 37.1704C31.4037 38.3168 31.3987 39.4631 31.4037 40.6144C31.4037 41.0375 31.6245 41.2442 32.0612 41.2442C33.5517 41.2491 35.0372 41.2442 36.5277 41.2491C37.2303 41.2491 37.7221 41.7313 37.7071 42.3807C37.697 42.8776 37.3307 43.3254 36.8238 43.3992C36.5227 43.4435 36.2065 43.4631 35.9004 43.4336C34.8716 43.3352 34.0034 43.7042 33.2355 44.3045C32.4526 44.9145 31.7199 45.5935 30.9721 46.238C29.8731 47.1827 28.779 48.1372 27.6749 49.0769C26.7816 49.8395 25.4617 49.505 25.0803 48.4176C25.0301 48.2799 25.0151 48.1273 25.01 47.9847C25 47.5615 25.005 47.1335 25.005 46.7054Z"
                    fill="#4090B5"
                  />
                  <path
                    d="M39.2126 39.5369C39.2126 39.7731 39.2126 39.9945 39.2126 40.2356C38.7911 40.2356 38.3896 40.2356 37.953 40.2356C37.953 40.0437 37.948 39.8567 37.953 39.6698C37.958 39.532 37.9178 39.473 37.7723 39.4385C37.3558 39.3401 36.9693 39.1728 36.608 38.8875C36.8389 38.5874 37.0597 38.302 37.2604 38.0363C37.6418 38.179 37.9881 38.3463 38.3545 38.4299C38.6205 38.489 38.9165 38.4496 39.1926 38.4053C39.4033 38.3709 39.5389 38.2085 39.5539 37.9871C39.574 37.7608 39.4535 37.6033 39.2528 37.5246C38.9115 37.3967 38.5552 37.2983 38.2089 37.1851C37.958 37.1015 37.697 37.0277 37.4511 36.9244C36.874 36.6833 36.5678 36.2552 36.5528 35.6255C36.5377 34.9662 36.7887 34.4348 37.3909 34.1495C37.7823 33.9625 38.1186 33.8247 37.9229 33.2786C38.3494 33.2786 38.7208 33.2737 39.0972 33.2885C39.1374 33.2885 39.2076 33.4115 39.2076 33.4803C39.2327 33.8985 39.2327 33.8887 39.6292 34.0265C39.86 34.1052 40.0809 34.2183 40.3318 34.3315C40.121 34.6513 39.9504 34.9318 39.7597 35.1974C39.7296 35.2368 39.6091 35.2319 39.5389 35.2122C39.2076 35.1286 38.8864 35.0203 38.5552 34.9564C38.4247 34.9318 38.2742 34.9711 38.1387 35.0056C37.9379 35.0597 37.8024 35.1925 37.7874 35.409C37.7723 35.6206 37.8677 35.7829 38.0634 35.8616C38.3193 35.965 38.5803 36.0437 38.8413 36.1273C39.1273 36.2208 39.4234 36.2897 39.6994 36.393C40.4974 36.6981 40.8186 37.1802 40.7784 37.9723C40.7383 38.7005 40.2816 39.2417 39.5288 39.4533C39.4385 39.4828 39.3431 39.5074 39.2126 39.5369Z"
                    fill="#4090B5"
                  />
                </g>
                <defs>
                  <linearGradient
                    id="paint0_linear_0_1955"
                    x1="39"
                    y1="0.5"
                    x2="39"
                    y2="78.5"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#4090B5" />
                    <stop offset="1" stop-color="#4090B5" stop-opacity="0" />
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_0_1955"
                    x1="39"
                    y1="12.5"
                    x2="39"
                    y2="66.5"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#4090B5" />
                    <stop offset="1" stop-color="#4090B5" stop-opacity="0" />
                  </linearGradient>
                  <clipPath id="clip0_0_1955">
                    <rect
                      width="27"
                      height="20"
                      fill="white"
                      transform="translate(25 29.5)"
                    />
                  </clipPath>
                </defs>
              </svg>
              <p class="text-xl text-center max-w-[254px] ">
                Ahorro y seguridad para el futuro
              </p>
            </div>

            <div class="flex flex-col items-center justify-center p-5 min-w-[314px] rounded-lg border border-[#262626] gap-2">
              <svg
                width="78"
                height="79"
                viewBox="0 0 78 79"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  y="0.5"
                  width="78"
                  height="78"
                  rx="39"
                  fill="url(#paint0_linear_0_1972)"
                  fill-opacity="0.05"
                />
                <rect
                  x="12"
                  y="12.5"
                  width="54"
                  height="54"
                  rx="27"
                  fill="url(#paint1_linear_0_1972)"
                  fill-opacity="0.05"
                />
                <path
                  d="M38.0625 30.1661C36.1682 28.9535 33.9156 28.25 31.5 28.25C30.0772 28.25 28.7094 28.4942 27.4376 28.9437C27.063 29.0761 26.8125 29.4303 26.8125 29.8276V47.6401C26.8125 47.9445 26.9602 48.2299 27.2087 48.4056C27.4572 48.5813 27.7755 48.6255 28.0624 48.5241C29.1364 48.1445 30.293 47.9375 31.5 47.9375C33.9938 47.9375 36.2791 48.8216 38.0625 50.2946V30.1661Z"
                  fill="#4090B5"
                />
                <path
                  d="M39.9375 50.2946C41.7209 48.8216 44.0062 47.9375 46.5 47.9375C47.707 47.9375 48.8636 48.1445 49.9376 48.5241C50.2245 48.6255 50.5428 48.5813 50.7913 48.4056C51.0398 48.2299 51.1875 47.9445 51.1875 47.6401V29.8276C51.1875 29.4303 50.937 29.0761 50.5624 28.9437C49.2906 28.4942 47.9228 28.25 46.5 28.25C44.0844 28.25 41.8318 28.9535 39.9375 30.1661V50.2946Z"
                  fill="#4090B5"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_0_1972"
                    x1="39"
                    y1="0.5"
                    x2="39"
                    y2="78.5"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#4090B5" />
                    <stop offset="1" stop-color="#4090B5" stop-opacity="0" />
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_0_1972"
                    x1="39"
                    y1="12.5"
                    x2="39"
                    y2="66.5"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#4090B5" />
                    <stop offset="1" stop-color="#4090B5" stop-opacity="0" />
                  </linearGradient>
                </defs>
              </svg>

              <p class="text-xl text-center max-w-[254px] ">
                Educación financiada y finianciera
              </p>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-5">
          <div class="flex flex-col gap-10 mb-10">
            <h3 class="text-3xl">Particulares</h3>
            <p class="text-base text-[#B3B3B3]">
              Para particulares, nuestros servicios hipotecarios allanan el
              camino hacia la propiedad de vivienda, y nuestros préstamos
              personales flexibles brindan apoyo vital durante varios hitos
              importantes en la vida. También damos prioridad a la planificación
              para la jubilación, asegurando un futuro financieramente seguro
              para nuestros clientes.
            </p>
          </div>

          <div class="flex flex-row gap-10 justify-center max-[760px]:flex-col">
            <div class="flex flex-col items-center gap-4">
              <p class="text-6xl text-[#9E30A9] font-bold">78%</p>
              <p class="max-w-[182px] text-[#B3B3B3]">
                Planificación Segura para la Jubilación
              </p>
            </div>

            <div class="flex flex-col items-center gap-4">
              <p class="text-6xl text-[#9E30A9] font-bold">63%</p>
              <p class="max-w-[182px] text-[#B3B3B3]">
                Consolidación de Deudas Gestionable
              </p>
            </div>

            <div class="flex flex-col items-center gap-4">
              <p class="text-6xl text-[#9E30A9] font-bold">91%</p>
              <p class="max-w-[182px] text-[#B3B3B3]">
                Reducciones de cargas financieras
              </p>
            </div>
          </div>
          <button class="text-xl bg-[#1C1C1C] p-3 rounded-full w-[132px] border border-[#262626] hover:bg-[#363535]">
            Más info
          </button>
        </div>
      </div>

      <div class="flex flex-row-reverse justify-center gap-10 items-start  max-[1270px]:flex-col max-[1270px]:items-center mt-20">
        <div class="flex flex-row  gap-5 bg-[#1C1C1C] p-10 rounded-xl max-[760px]:flex-col ">
          {/*<img src="toolsimg/AbstractSection1.png" class="absolute top-0 left-0    " alt="Adorno Abstacto arriba-izquierda"/>*/}

          <div class="flex flex-col bg-[#1A1A1A] gap-5 ">
            <div class="flex flex-col items-center justify-center p-5 min-w-[314px] rounded-lg border border-[#262626] gap-2">
              <svg
                width="78"
                height="78"
                viewBox="0 0 78 78"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  width="78"
                  height="78"
                  rx="39"
                  fill="url(#paint0_linear_0_2018)"
                  fill-opacity="0.05"
                />
                <rect
                  x="12"
                  y="12"
                  width="54"
                  height="54"
                  rx="27"
                  fill="url(#paint1_linear_0_2018)"
                  fill-opacity="0.05"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M27.75 26.8125C27.2322 26.8125 26.8125 27.2322 26.8125 27.75C26.8125 28.2678 27.2322 28.6875 27.75 28.6875V49.3125H26.8125C26.2947 49.3125 25.875 49.7322 25.875 50.25C25.875 50.7678 26.2947 51.1875 26.8125 51.1875H42.75V28.6875C43.2678 28.6875 43.6875 28.2678 43.6875 27.75C43.6875 27.2322 43.2678 26.8125 42.75 26.8125H27.75ZM32.4375 48.375V45.5625C32.4375 45.0447 32.8572 44.625 33.375 44.625H37.125C37.6428 44.625 38.0625 45.0447 38.0625 45.5625V48.375C38.0625 48.8928 37.6428 49.3125 37.125 49.3125H33.375C32.8572 49.3125 32.4375 48.8928 32.4375 48.375ZM31.5 32.4375C31.5 31.9197 31.9197 31.5 32.4375 31.5H33.375C33.8928 31.5 34.3125 31.9197 34.3125 32.4375C34.3125 32.9553 33.8928 33.375 33.375 33.375H32.4375C31.9197 33.375 31.5 32.9553 31.5 32.4375ZM32.4375 35.25C31.9197 35.25 31.5 35.6697 31.5 36.1875C31.5 36.7053 31.9197 37.125 32.4375 37.125H33.375C33.8928 37.125 34.3125 36.7053 34.3125 36.1875C34.3125 35.6697 33.8928 35.25 33.375 35.25H32.4375ZM31.5 39.9375C31.5 39.4197 31.9197 39 32.4375 39H33.375C33.8928 39 34.3125 39.4197 34.3125 39.9375C34.3125 40.4553 33.8928 40.875 33.375 40.875H32.4375C31.9197 40.875 31.5 40.4553 31.5 39.9375ZM37.125 31.5C36.6072 31.5 36.1875 31.9197 36.1875 32.4375C36.1875 32.9553 36.6072 33.375 37.125 33.375H38.0625C38.5803 33.375 39 32.9553 39 32.4375C39 31.9197 38.5803 31.5 38.0625 31.5H37.125ZM36.1875 36.1875C36.1875 35.6697 36.6072 35.25 37.125 35.25H38.0625C38.5803 35.25 39 35.6697 39 36.1875C39 36.7053 38.5803 37.125 38.0625 37.125H37.125C36.6072 37.125 36.1875 36.7053 36.1875 36.1875ZM37.125 39C36.6072 39 36.1875 39.4197 36.1875 39.9375C36.1875 40.4553 36.6072 40.875 37.125 40.875H38.0625C38.5803 40.875 39 40.4553 39 39.9375C39 39.4197 38.5803 39 38.0625 39H37.125Z"
                  fill="#9E30A9"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M44.625 32.4375V51.1875H51.1875C51.7053 51.1875 52.125 50.7678 52.125 50.25C52.125 49.7322 51.7053 49.3125 51.1875 49.3125H50.25V34.3125C50.7678 34.3125 51.1875 33.8928 51.1875 33.375C51.1875 32.8572 50.7678 32.4375 50.25 32.4375H44.625ZM46.5 38.0625C46.5 37.5447 46.9197 37.125 47.4375 37.125H47.4469C47.9646 37.125 48.3844 37.5447 48.3844 38.0625V38.0719C48.3844 38.5896 47.9646 39.0094 47.4469 39.0094H47.4375C46.9197 39.0094 46.5 38.5896 46.5 38.0719V38.0625ZM47.4375 40.875C46.9197 40.875 46.5 41.2947 46.5 41.8125V41.8219C46.5 42.3396 46.9197 42.7594 47.4375 42.7594H47.4469C47.9646 42.7594 48.3844 42.3396 48.3844 41.8219V41.8125C48.3844 41.2947 47.9646 40.875 47.4469 40.875H47.4375ZM46.5 45.5625C46.5 45.0447 46.9197 44.625 47.4375 44.625H47.4469C47.9646 44.625 48.3844 45.0447 48.3844 45.5625V45.5719C48.3844 46.0896 47.9646 46.5094 47.4469 46.5094H47.4375C46.9197 46.5094 46.5 46.0896 46.5 45.5719V45.5625Z"
                  fill="#9E30A9"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_0_2018"
                    x1="39"
                    y1="0"
                    x2="39"
                    y2="78"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#9E30A9" />
                    <stop offset="1" stop-color="#9E30A9" stop-opacity="0" />
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_0_2018"
                    x1="39"
                    y1="12"
                    x2="39"
                    y2="66"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#9E30A9" />
                    <stop offset="1" stop-color="#9E30A9" stop-opacity="0" />
                  </linearGradient>
                </defs>
              </svg>
              <p class="text-xl text-center max-w-[254px] ">
                Startups y Emprendedores
              </p>
            </div>

            <div class="flex flex-col items-center justify-center p-5 min-w-[314px] rounded-lg border border-[#262626] gap-2">
              <svg
                width="78"
                height="78"
                viewBox="0 0 78 78"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  width="78"
                  height="78"
                  rx="39"
                  fill="url(#paint0_linear_0_2031)"
                  fill-opacity="0.05"
                />
                <rect
                  x="12"
                  y="12"
                  width="54"
                  height="54"
                  rx="27"
                  fill="url(#paint1_linear_0_2031)"
                  fill-opacity="0.05"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M26.8125 26.8125C26.2947 26.8125 25.875 27.2322 25.875 27.75C25.875 28.2678 26.2947 28.6875 26.8125 28.6875H27.75V41.8125C27.75 43.8836 29.4289 45.5625 31.5 45.5625H33.0118L31.5481 49.9535C31.3844 50.4447 31.6498 50.9757 32.141 51.1394C32.6322 51.3031 33.1632 51.0377 33.3269 50.5465L33.7382 49.3125H44.2618L44.6731 50.5465C44.8368 51.0377 45.3678 51.3031 45.859 51.1394C46.3502 50.9757 46.6156 50.4447 46.4519 49.9535L44.9882 45.5625H46.5C48.5711 45.5625 50.25 43.8836 50.25 41.8125V28.6875H51.1875C51.7053 28.6875 52.125 28.2678 52.125 27.75C52.125 27.2322 51.7053 26.8125 51.1875 26.8125H26.8125ZM34.3632 47.4375L34.9882 45.5625H43.0118L43.6368 47.4375H34.3632ZM43.6875 32.4375C43.6875 31.9197 43.2678 31.5 42.75 31.5C42.2322 31.5 41.8125 31.9197 41.8125 32.4375V39.9375C41.8125 40.4553 42.2322 40.875 42.75 40.875C43.2678 40.875 43.6875 40.4553 43.6875 39.9375V32.4375ZM39.9375 35.25C39.9375 34.7322 39.5178 34.3125 39 34.3125C38.4822 34.3125 38.0625 34.7322 38.0625 35.25V39.9375C38.0625 40.4553 38.4822 40.875 39 40.875C39.5178 40.875 39.9375 40.4553 39.9375 39.9375V35.25ZM36.1875 38.0625C36.1875 37.5447 35.7678 37.125 35.25 37.125C34.7322 37.125 34.3125 37.5447 34.3125 38.0625V39.9375C34.3125 40.4553 34.7322 40.875 35.25 40.875C35.7678 40.875 36.1875 40.4553 36.1875 39.9375V38.0625Z"
                  fill="#9E30A9"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_0_2031"
                    x1="39"
                    y1="0"
                    x2="39"
                    y2="78"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#9E30A9" />
                    <stop offset="1" stop-color="#9E30A9" stop-opacity="0" />
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_0_2031"
                    x1="39"
                    y1="12"
                    x2="39"
                    y2="66"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#9E30A9" />
                    <stop offset="1" stop-color="#9E30A9" stop-opacity="0" />
                  </linearGradient>
                </defs>
              </svg>
              <p class="text-xl text-center max-w-[254px] ">
                Crecimiento de negocio
              </p>
            </div>
          </div>

          <div class="flex flex-col bg-[#1A1A1A] gap-5 ">
            <div class="flex flex-col items-center justify-center p-5 min-w-[314px] rounded-lg border border-[#262626] gap-2">
              <svg
                width="78"
                height="78"
                viewBox="0 0 78 78"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  width="78"
                  height="78"
                  rx="39"
                  fill="url(#paint0_linear_0_2024)"
                  fill-opacity="0.05"
                />
                <rect
                  x="12"
                  y="12"
                  width="54"
                  height="54"
                  rx="27"
                  fill="url(#paint1_linear_0_2024)"
                  fill-opacity="0.05"
                />
                <path
                  d="M39 33.375C37.4467 33.375 36.1875 34.6342 36.1875 36.1875C36.1875 37.7408 37.4467 39 39 39C40.5533 39 41.8125 37.7408 41.8125 36.1875C41.8125 34.6342 40.5533 33.375 39 33.375Z"
                  fill="#9E30A9"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M25.875 30.0938C25.875 28.7993 26.9243 27.75 28.2188 27.75H49.7812C51.0757 27.75 52.125 28.7993 52.125 30.0938V42.2813C52.125 43.5757 51.0757 44.625 49.7812 44.625H28.2187C26.9243 44.625 25.875 43.5757 25.875 42.2813V30.0938ZM34.3125 36.1875C34.3125 33.5987 36.4112 31.5 39 31.5C41.5888 31.5 43.6875 33.5987 43.6875 36.1875C43.6875 38.7763 41.5888 40.875 39 40.875C36.4112 40.875 34.3125 38.7763 34.3125 36.1875ZM47.4375 35.25C46.9197 35.25 46.5 35.6697 46.5 36.1875V36.1969C46.5 36.7146 46.9197 37.1344 47.4375 37.1344H47.4469C47.9646 37.1344 48.3844 36.7146 48.3844 36.1969V36.1875C48.3844 35.6697 47.9646 35.25 47.4469 35.25H47.4375ZM29.625 36.1875C29.625 35.6697 30.0447 35.25 30.5625 35.25H30.5719C31.0896 35.25 31.5094 35.6697 31.5094 36.1875V36.1969C31.5094 36.7146 31.0896 37.1344 30.5719 37.1344H30.5625C30.0447 37.1344 29.625 36.7146 29.625 36.1969V36.1875Z"
                  fill="#9E30A9"
                />
                <path
                  d="M26.8125 46.5C26.2947 46.5 25.875 46.9197 25.875 47.4375C25.875 47.9553 26.2947 48.375 26.8125 48.375C33.5626 48.375 40.1003 49.2778 46.3122 50.9686C47.8004 51.3737 49.3125 50.271 49.3125 48.6939V47.4375C49.3125 46.9197 48.8928 46.5 48.375 46.5H26.8125Z"
                  fill="#9E30A9"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_0_2024"
                    x1="39"
                    y1="0"
                    x2="39"
                    y2="78"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#9E30A9" />
                    <stop offset="1" stop-color="#9E30A9" stop-opacity="0" />
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_0_2024"
                    x1="39"
                    y1="12"
                    x2="39"
                    y2="66"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#9E30A9" />
                    <stop offset="1" stop-color="#9E30A9" stop-opacity="0" />
                  </linearGradient>
                </defs>
              </svg>
              <p class="text-xl text-center max-w-[254px] ">
                Gestión del Flujo de Efectivo
              </p>
            </div>

            <div class="flex flex-col items-center justify-center p-5 min-w-[314px] rounded-lg border border-[#262626] gap-2">
              <svg
                width="78"
                height="78"
                viewBox="0 0 78 78"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  width="78"
                  height="78"
                  rx="39"
                  fill="url(#paint0_linear_0_2037)"
                  fill-opacity="0.05"
                />
                <rect
                  x="12"
                  y="12"
                  width="54"
                  height="54"
                  rx="27"
                  fill="url(#paint1_linear_0_2037)"
                  fill-opacity="0.05"
                />
                <path
                  d="M37.0795 34.9328C37.3635 34.7072 37.7009 34.5431 38.0625 34.4406V37.9343C37.694 37.8297 37.3575 37.663 37.0795 37.4422C36.5873 37.0512 36.3969 36.5912 36.3969 36.1875C36.3969 35.7838 36.5873 35.3238 37.0795 34.9328Z"
                  fill="#9E30A9"
                />
                <path
                  d="M39.9375 43.577V40.0479C40.3716 40.1535 40.7672 40.3322 41.0892 40.5737C41.6223 40.9735 41.8125 41.4311 41.8125 41.8125C41.8125 42.1939 41.6223 42.6514 41.0892 43.0512C40.7672 43.2927 40.3716 43.4715 39.9375 43.577Z"
                  fill="#9E30A9"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M39 26.8125C32.269 26.8125 26.8125 32.269 26.8125 39C26.8125 45.731 32.269 51.1875 39 51.1875C45.731 51.1875 51.1875 45.731 51.1875 39C51.1875 32.269 45.731 26.8125 39 26.8125ZM39.9375 31.5C39.9375 30.9822 39.5178 30.5625 39 30.5625C38.4822 30.5625 38.0625 30.9822 38.0625 31.5V32.5195C37.2789 32.6584 36.5317 32.9734 35.9132 33.4647C35.0228 34.1721 34.5219 35.1516 34.5219 36.1875C34.5219 37.2234 35.0228 38.2029 35.9132 38.9103C36.5413 39.4092 37.2908 39.7188 38.0625 39.8554V43.5769C37.6285 43.4714 37.233 43.2926 36.9111 43.0512L35.8125 42.2272C35.3983 41.9166 34.8107 42.0005 34.5 42.4147C34.1893 42.8289 34.2733 43.4165 34.6875 43.7272L35.7861 44.5512C36.4526 45.0511 37.2474 45.357 38.0625 45.4879V46.5C38.0625 47.0178 38.4822 47.4375 39 47.4375C39.5178 47.4375 39.9375 47.0178 39.9375 46.5V45.488C40.7527 45.357 41.5476 45.0511 42.2142 44.5512C43.1455 43.8527 43.6875 42.8706 43.6875 41.8125C43.6875 40.7543 43.1455 39.7723 42.2142 39.0737C41.5476 38.5738 40.7527 38.2679 39.9375 38.137V34.4407C40.299 34.5432 40.6362 34.7073 40.9201 34.9328L41.4388 35.3448C41.8442 35.6669 42.4339 35.5993 42.756 35.1939C43.078 34.7885 43.0105 34.1987 42.605 33.8767L42.0864 33.4647C41.4681 32.9735 40.721 32.6585 39.9375 32.5196V31.5Z"
                  fill="#9E30A9"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_0_2037"
                    x1="39"
                    y1="0"
                    x2="39"
                    y2="78"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#9E30A9" />
                    <stop offset="1" stop-color="#9E30A9" stop-opacity="0" />
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_0_2037"
                    x1="39"
                    y1="12"
                    x2="39"
                    y2="66"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#9E30A9" />
                    <stop offset="1" stop-color="#9E30A9" stop-opacity="0" />
                  </linearGradient>
                </defs>
              </svg>
              <p class="text-xl text-center max-w-[254px] ">
                Soluciones de pago
              </p>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-5">
          <div class="flex flex-col gap-10 mb-10">
            <h3 class="text-3xl">Empresas</h3>
            <p class="text-base text-[#B3B3B3]">
              Para las empresas, potenciamos el crecimiento con soluciones de
              capital de trabajo que optimizan el flujo de efectivo, y nuestras
              opciones de financiamiento personalizadas impulsan la expansión
              empresarial. Sea cual sea tu aspiración financiera, en YourBank
              nos comprometemos a proporcionar las herramientas y el respaldo
              adecuados para alcanzarlas.
            </p>
          </div>

          <div class="flex flex-row gap-10 justify-center max-[760px]:flex-col">
            <div class="flex flex-col items-center gap-4">
              <p class="text-6xl text-[#4090B5] font-bold">65%</p>
              <p class="max-w-[182px] text-[#B3B3B3]">
              Gestiona el flujo de efectivo.
              </p>
            </div>

            <div class="flex flex-col items-center gap-4">
              <p class="text-6xl text-[#4090B5] font-bold">70%</p>
              <p class="max-w-[182px] text-[#B3B3B3]">
              Impulsa la expansión empresarial
              </p>
            </div>

            <div class="flex flex-col items-center gap-4">
              <p class="text-6xl text-[#4090B5] font-bold">45%</p>
              <p class="max-w-[182px] text-[#B3B3B3]">
              Optimiza el procesamiento de nóminas
              </p>
            </div>
          </div>
          <button class="text-xl bg-[#1C1C1C] p-3 rounded-full w-[132px] border border-[#262626] hover:bg-[#363535]">
            Más info
          </button>
        </div>
      </div>
    </section>

