---
import '../styles/global.css'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deckard Digital Bank</title>
    <link rel="icon" href="">
    <meta name="description" content={Astro.generator}>
</head>
<body>
    <slot/>
</body>
</html>